* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_grid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #010101;
}

.video_grid {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 80%;
    height: 80%;
    overflow: auto;

}

.box_video {
    width: 14%;
    margin: 1px;
    overflow: hidden;
}

.box_video img {
    width: 100%;
}

header {
    height: 10vh;
    background-color: brown;
}

