* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #010101;
}


.up_bar {
    position:fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 4px 0;
    width: 100%;
    height: auto;
    background-color: #010101;
    z-index: 999;
}

.ic_text_label {
    display: inline-block;
    padding: 6px 4px;
    margin: 0 4px 0 8px;
    border: 0;
    border-radius: 5px;
    background-color: #4a4a4a;
    color: #fff;
    cursor:pointer;
}

.ic_text_label i {
    font-size: 13px;
    margin-right: 4px;
}

.small_ic {
    margin-right: 4px;
}

.container_grid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.video_grid {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 90%;
    height: 90%;
    z-index: 1;
    overflow: auto;

}

.box_video {
    position: relative;
    width: 13%;
    margin:0 2px 8px;
    overflow: hidden;
}

.box_video img {
    width: 100%;
}

.name_users {
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

header {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    height: 100px;
    background-color: #222222;
    z-index: 999;
}

.func_bar {
    display: flex;
    flex-direction: row;
    
}

.user_control {
    display: flex;
    width: 33.3vw;
    padding: 0 0 0 8px;
}

.sx, .mid {
    flex-direction: row;
}

.dx {
    justify-content: flex-end   ;
}

.ic_text_control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-right: 16px;
}

.icon-big {
    font-size: 32px;
    margin: 4px;
}

.icon-small {
    font-size: 14px;
}