* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    display: block;
}

.up_bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5vh;
}

.ic_text_label {
    display: inline-block;
    padding: 6px 4px;
    margin: 0 2px 0 8px;
    border-radius: 5px;
    background-color: #4a4a4a;
    color: #fff;
}

.small_ic {
    margin-right: 4px;
}

.container_grid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-color: #010101;
}

.video_grid {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    width: 80%;
    height: 80%;
    overflow: auto;

}

.box_video {
    width: 14%;
    margin: 1px;
    overflow: hidden;
}

.box_video img {
    width: 100%;
}

header {
    height: 10vh;
    background-color: brown;
}

